*,
*:after,
*:before{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-family: arial, verdana, sans-serif;
	font-size: 10px;
}

body{
	font-size: 1.6rem;
	width: 100%;
}

h1{
	font-size: 3.6rem;
}

h2{
	font-size: 3rem;
}

h3{
	font-size: 2.4rem;
}

h4{
	font-size: 1.8rem;
}

h5{
	font-size: 1.4rem;
}

h6{
	font-size: 1.2rem;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
}

img{
	display: block;
}

.App{}

header ul{
	width: 100%;
	height: 5rem;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 2rem;
	padding: 1rem;
	background-color: black;
	line-height: 3rem;
}

header ul li{
	width: 10rem;
	height: 100%;
	font-size: 1.6rem;
	margin-right: 2rem;
}

header ul li a{
	width: 100%;
	height: 100%;
	display: block;
	color: white;
	font-weight: 700;
	text-align: center;
	border-radius: 0.5rem;
}

header ul li a:hover{
	color: black;
	background-color: white;
}

.app-header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 1rem;
	border-bottom: solid 1px #aaaaaa;
}

.btn{
	width: 10rem;
	height: 3.5rem;
	padding: 0.5rem;
	outline: none;
	border: none;
	border-radius: 0.5rem;
	color: white;
	font-weight: 600;
}

.tasklist-wrapper{
	min-height: 500px;
}

.tasklist{
	padding: 2rem;
}

.task{
	width: 100%;
	background-color: #aaaaaa;
	color: white;
	font-weight: 500;
	padding: 1rem 2rem;
	margin-bottom: 1rem;
	border-radius: 0.5rem;
}

.task input[type='checkbox']{
	width: 1.6rem;
	height: 1.6rem;
	margin-top: 0.25rem;
}

.task .set-reminder{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	text-align: center;
}

.task .set-reminder p{
	margin-right: 1rem;
}

.task-form{
	width: 100%;
	padding: 2rem;
	display: block;
	margin: 0 auto;
}

.task-form form-group{
	width: 100%;
	display: block;
	margin-bottom: 1rem;
}

/*.task-form form-group:nth-child(3){
	background-color: red;
}*/

/*.task-form form-group label{
	padding: 0.5rem;
	width: 10rem;
}*/

.task-form form-group input[type='text']{
	padding: 1rem;
	border-radius: 0.5rem;
	border: none;
	outline: none;
	font-size: 1.6rem;
	width: 100%;
	background-color: #cccccc;
	color: white;
	font-weight: 600;
}

.task-form form-group input[type='text']::placeholder{
	color: white;
}

/*.task-form form-group input[type='checkbox']{
}*/

.task-form form-group button{
	width: 15rem;
	display: block;
	background-color: #6868fe;
	margin: 0.5rem auto;
}

.footer{
	width: 100%;
	height: 5rem;
	padding: 1rem;
	color: white;
	background-color: black;
	line-height: 3rem;
	font-size: 1.4rem;
	text-align: center;
}

.hidden{
	display: none;
}

.reminder{
	background-color: #aaaa00;
}

/* media queries */
@media screen and (min-width: 768px){
	.task-form{
		width: 700px;
	}


}